<form [formGroup]="form" class="register"
(submit)="handleSubmit()">
    <h2>Darse de alta:</h2>
    <input type="text" formControlName="name" placeholder="introduce your name">

    <div class="error"
    *ngIf="form.get('name').invalid"> 
       Name tiene que estar entre 8 y 40 caracteres</div>

    <input type="text" formControlName="email" placeholder="introduce your email">

    <div class="error"
    *ngIf="form.get('email').invalid &&  form.get('email').touched"> 
       Debes introducir un email</div>

    <input type="text" formControlName="password" placeholder="introduce your password">
    <div class="error"
    *ngIf="form.get('password').invalid &&  form.get('password').touched"> 
       Password debe contener al menos un numero, una letra</div>
    <button type="submit">Enviar</button>
</form>