.header{
    display:flex;
    justify-content: space-around;
    a{
        all:unset;
        font-size: 1.3em;
        color:rgb(0, 92, 179);
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .avatar{
        width: 5em;
        height: 5em;
        border-radius: 50em;
    }
}