<div class="header">
    <a class="popularFilms" [routerLink]="['/popular']" routerLinkActive="isActive">Popular Films</a>
    <a class="upcomingFilms" [routerLink]="['/upcoming']" routerLinkActive="isActive">upcoming Films</a>
    <div class="logged" *ngIf="userService.user">
        {{userService.user.name || userService.user.email}}

        <a class="upcomingFilms" [routerLink]="['/profile']" routerLinkActive="isActive">
        <img class="avatar" [src]="avatarUrl" alt="">
        </a>
        <button>Log out</button>
    </div>
    <div class="notLogged" *ngIf="!userService.user">
        <a class="upcomingFilms" [routerLink]="['/register']" routerLinkActive="isActive">Register </a>
        <a class="upcomingFilms" [routerLink]="['/login']" routerLinkActive="isActive">Log in </a>
    </div>
</div>